.upper-row {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #ffffff;
}

.button-gegevens-user {
    background-color: #e10505;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.no-display {
    display: none;
}

.center {
    text-align: center;
}

.succes {
    color: #0fc301;
    padding-bottom: 10px;
}

.error {
    color: #ff0000;
    padding-bottom: 10px;
}