@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Upload error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">Er is iets misgegaan bij het uploaden van een bestand.</h3>
<h3 class="text-danger">De bestandstype is niet juist of het bestand is te groot. Probeer het nog eens.</h3>