<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>145.24.222.132</MSDeployServiceURL>
    <DeployIisAppPath>HeadsUp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>0863139</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SD_testomgeving" Order="1" Enabled="False">
          <Destination Path="Data Source=145.24.222.132,8001;Initial Catalog=smartdoods_testomgeving;User ID=abed_user;Password=Rotterdam1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SD.Commons.Shared.ApplicationDbContext, SD.Commons.Shared" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SD_testomgeving2" Order="2" Enabled="False">
          <Destination Path="Data Source=145.24.222.132,8001;Initial Catalog=smartdoods_testomgeving;Persist Security Info=True;User ID=abed_user;Password=Rotterdam1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=145.24.222.132,8001;Initial Catalog=smartdoods_testomgeving;User ID=abed_user;Password=Rotterdam1!;Connect Timeout=60;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SD_testomgeving2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=145.24.222.132,8001;Database=smartdoods_testomgeving;User ID=abed_user;Password=Rotterdam1!;TrustServerCertificate=True;Connection Timeout=60;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SD_testomgeving-Web.config Connection String">
      <ParameterValue>Data Source=145.24.222.132,8001;Initial Catalog=smartdoods_testomgeving;User ID=abed_user;Password=Rotterdam1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SD_testomgeving2-Web.config Connection String">
      <ParameterValue>Data Source=145.24.222.132,8001;Initial Catalog=smartdoods_testomgeving;Persist Security Info=True;User ID=abed_user;Password=Rotterdam1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>