@model SD.Commons.Shared.Models.SessionModel

@{
    ViewBag.Title = "StopSession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@Model.ClassRoom</p>
<p>@Model.Id</p>

@using (Html.BeginForm("StopSession", "Session", Model, FormMethod.Post))
{
    <input type="submit" value="Sessie stoppen" class="btn btn-default" />
}
