
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sessionExpired">
        <p>Uw sessie is verlopen. Probeer opnieuw @Html.ActionLink("in te loggen", "Login", "User").</p>
    </div>
</div>
